body{

    background-image: url(OIP.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    background-color: lightgray;
    


}





h1{
    font-size: 350%;
    text-align: center;
    text-decoration: underline;
}

p1{
background-color: lightgrey;
  width: 50px;
  border: 5px solid blue;
  padding: 10px;
  margin: 10px;
  font-size: 100%;
  font-weight: lighter;
  
}

